.metadata
.recommenders
.idea
bin
.settings
barrows_testing
gameticklistener
*.iml
*.eml
wc_priv_noobacc23
flaxspinner_magma

*.psd
wines.png
pk helper.png
*.jar
.classpath
.project
*.class
tmp.txt
item-remapping.json